.goods-header{
    width: 100%;
    height: 50px;
    background-color: #e6e6e6;
    line-height: 50px;
    padding: 0 0 0 20px;
    text-align: left;
}
.goods-body{
    padding: 20px;
}
.goods-class{
    border: 1px solid #E6E6E6;
    border-radius: 3px;
}
.goods-check-class{
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #1089EB;
    border-right: 1px solid #E4E7ED;
    border-bottom: 2px solid #1089EB;
    cursor: pointer;
}
.goods-not-check-calss{
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #666666;
    border-right: 1px solid #E4E7ED;
    cursor: pointer;
}
.goods-search-input{
    width: 150px;
    margin: 10px;
    height: 40px;
    margin-left: 0;
}
.goods-search-btn{
    display: inline-block;
    width: 80px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: #13CE66;
    margin: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.goods-search-refresh{
    display: inline-block;
    width: 80px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: #FF6D6D;
    margin: 10px;
    border-radius: 3px;
    cursor: pointer;

}
.goods-search-add{
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #1089EB;
    color: white;
    margin: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.goods-search-add-icon{
    width: 40px;
    text-align: center;
}
.goods-search-add-span{
    width: 110px;
    text-align: center;
}
.goods-search-class{
    width: 150px;
    margin-left: 10px;
    text-align: center;
}
.goods-table-image{
    width: 50px;
    height: 50px;
}
.goods-modal-installment{
    width: 100%;
}
.goods-modal-header{
    margin-bottom: 10px;
}
.goods-modal-header-span{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 100px;
    text-align: left;
}
.goods-modal-body-span{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 100px;
    text-align: left;
}
.goods-modal-body-input{
    width: 150px;
    height: 40px;
}
.goods-modal-body-item{
    margin-bottom: 10px;
    width: 50%;
    display: inline-block;
}
.goods-modal-body-image{
    display: inline-block;
}
.goods-stageDetailInfo{
    border: 1px dashed red;
}
.goods-not-check-type{
    display: inline-block;
    width: 145px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    margin-right: 20px;
    cursor: pointer;
}
.goods-check-type{
    display: inline-block;
    width: 145px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #1089EB;
    color: white;
    border-radius: 3px;
    margin-right: 20px;
    cursor: pointer;
}
.spellItem{
    margin-bottom: 10px;
}
.spellSpan{
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    width: 15%;
    height: 32px;
    line-height: 32px;
}
.spellInput{
    width: 80%;
    height: 32px;
}
.timeItem{
    display: inline-block;
    width: 50%;
}
.timeItemSpan{
    display: inline-block;
    width: 40%;
    font-size: 14px;
    font-weight: 700;
}
.smallSpan{
    width: 30%;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
}
.smallInput{
    width: 60%;
}
.spellItemImage{
    display: inline-block;
    width: 80%;
}
.spellIsShow{
    display: inline-block;
    width: 60%;
}
.smallTextArea{
    width: 60%;
    height: 200px;
    display: inline-block;
}
.areaSpan{
    float: left;
}