.modalItem{
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
    line-height: 50px;
    float: left;
}
.modalheader{
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}
.modalBody{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: hidden;
}
.modalBody>div{
    width: 50%;
    float: left;
}
.mbLabel{
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}
.mbLabel span{
    margin-right: 10px;
}
.modalNote{
    width: 90%;
    margin: 30px auto;
}