.add-subscribe-btn{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.subTime{
    width: 90%;
    margin: 10px auto;
}
/* .subscribeTime{
    display: inline-block;
    height: 100px;
    border: 1px solid red;
    width: 300px;
}
.subscribeService{
    width: 90%;
    margin: 10px auto;
} */
.tableGoodsImg{
    width: 50px;
    height: 50px;
}