
.header {
    text-align: center;
}
.header-image {
    margin: 10px;
    width: 36px;
    height: 36px;
}
.headImage{
    width: 50px;
    height: 50px;
    /* background-color: #1089EB; */
    border-radius: 30px;
}
.loginOut{
    text-align: center;
    margin-top: 70px;
}
.welcome{
    line-height: 40px;
    margin: 0;
}
.out{
    color: #1089EB;
    cursor: pointer;
}
.nav-span{
    width: 80px;
    display: inline-block;
    text-align: left;
}
